
<h1>Make a Deck</h1>

<div>
  <form action="/deck/new" method="post">
    
  <!-- wasn't sure of routing on this...might need changed -->

    <label for='deck'>
      Deck<br>
      <input id='deck' type="text" placeholder="Enter your Deck name here..." name="deck[title]" required>
    </label>

    <label for='card-question'>
      Question<br>
      <input id='card-question' type="text" name="card[question]" required>
    </label>  

    <label for='answer'>
      Answer<br>
      <textarea id="answer" rows='10' cols='40' name="card[answer]"></textarea><br/>
      </label>

  <!-- not exactly sure how to map the button to save the deck (below) yet -->
  
  <button class="btn">Save Card</button>
  <!-- <button class="btn">Delete Card</button> -->

</div>

<div class="card-list">
  <p>All of this will go over to the right</p>
  <p>Cards In Deck (Deck Name Will Go Here)</h2>
  <p>Card Count: </p>
  <!-- list of cards below -->
  <ul>
    <li></li>  
  </ul>
<div>
