
<h1>Make a Deck</h1>

<div>
  <form action="/deck/new" method="post">
    
  <!-- wasn't sure of routing on this...might need changed -->

  <!--   <label for='deck'>
      Deck<br>
      <input id='deck' type="text" placeholder="Enter your Deck name here..." name="deck[title]" required>
    </label>

    <label for='card-question'>
      Question<br>
      <input id='card-question' type="text" name="card[question]" required>
    </label>  

    <label for='answer'>
      Answer<br>
      <textarea id="answer" rows='10' cols='40' name="card[answer]"></textarea><br/>
      </label> -->

  <label for='question'>
    Question<br/>
    <select id="question" name="question_dropdown">
      <% @decks.each do |deck| %>
        <% deck.cards.each do |card| %>
          <option value="card[question]"><%= card.question %></option>
          <% @answer = card.answer %>
        <% end %>
      <% end %>
    </select>
    <button type="submit">Update</button>
  </label>

<label for='answer'>
  Answer<br/>
  <textarea id="answer" rows='10' cols='60' name="card[answer]"><%= @answer %></textarea><br/>
</label>    

  <button>Save Deck</button>
  <button>Delete Deck</button>

  <button>Save Card</button>



</div>

<div class="card-list">
  <p>All of this will go over to the right</p>
  <p>Cards In Deck (Deck Name Will Go Here)</h2>
  <p>Card Count: </p>
  <!-- list of cards below -->
  <ul>
    <li></li>  
  </ul>
<div>
