<div id='flash' class='notice'>
  <a class="close" data-dismiss="alert"></a>
  <%= flash[:is_correct] %>
</div>

<div class="right" id="end-round">
  <a href="/user/portal"><button>I give up!</button></a>
</div>

<h1><%= current_card.deck.title %></h1>

<div class='card-container'>
  <p>Question:</p>
  <p><%= current_card.question %></p>
  
  <form action="/round/<%= round_id %>/card/guess" method="POST"
    <label for='answer'>
      Answer<br><input id='answer' type="text" placeholder="Answer" name="attempt" required>
    </label>
    <button type="submit">Submit</button>
  </form>
</div>
