<% all_guesses.each do |guess|  %>
<p>Question:<%= guess.card.question %></p>
<p>Correct Answer:<%= guess.card.answer %></p>
<p>Your Guess:<%= guess.attempt %></p><br/>
<% end %>

<a href="/user/portal"><button class="btn">Back to Portal</button></a>
