<p>This will be the user signup form
On signup success it will go to the user portal
On signup fail, it will render again with an error message</p>

<form class='signup-form' action='/user' method='post'>
  <label for='email'>
    Email:<br/>
    <input id='email' type='text' name='#' required>
  </label>

  <label for='password'>
    Password:<br/>
    <input id='password' type='password' name='#' required>
  </label>

   <label for='password-confirm'>
    Confirm Password:<br/>
    <input id='password-confirm' type='password' name='#' required>
  </label>

  <input type='submit' value='Register'>
</form>
