This will be the user portal and main page for the app
<section id="portal" class="conent-wrapper">
  <ul>
    <li><a href="">Create Deck</a></li>
    <li><a href="">Start Round</a></li>
    <li><a href="/user/profile/<%=@user.id%>">Profile</a></li>
  </ul>
</section>


