This will be the profile/edit page for a particular user
<section name='user-profile'>
<ul>
  <li>User Name</li>
  <li>Email</li>
  <li><a href="">Edit User</a></li>
</ul>

<ul name='deck-list'>
  <li>Deck goes here</li>
</ul>
</section>

