
<section id='lading-page' class='content-wrapper'>
  
  <div id='error' class='alert'>
    <p><%= flash[:error] %></p>
  </div>

  <form class='login-form' action='/user/login' method='POST'>
    <label for='email'>
      Email:<br/>
      <input id='email' type='email' name='email' required>
    </label>

    <label for='password'>
      Password:<br/>
      <input id='password' type='password' name='password' required>
    </label>

    <input type='submit' value='Sign In' required>
  </form>
  <div class="register right">
    <p>New User?<a href='/user/register'> Sign Up!</a></p>
  </div>
<section>



