This will be the landing page where the user can log in or sign up
<section id="lading-page" class="content-wrapper"
  <form class='login-form' action="/user/:id" method='post'>
    <label for='email'>
      Email:<br/>
      <input id='email' type='text' name='#' required>
    </label>

    <label for='password'>
      Password:<br/>
      <input id='password' type='password' name='#' required>
    </label>

    <input type='submit' value='Sign In' required>
  </form>
<section>

<p>New User? <a href="/user/register">Sign Up!</a></p>

<a href="#{<% erb :'/user/profile' %>}">Test</a>
