This will be the landing page where the user can log in or sign up
<form class='login-form' action='' method='post'>
  <label for='email'>
    Email:<br/>
    <input id='email' type='text' name='#' required>
  </label>

  <label for='password'>
    Password:<br/>
    <input id='password' type='password' name='#' required>
  </label>

  <input type='submit' value='Sign In' required>
</form>

<p>New User? <a href="/new">Sign Up!</a></p>
