
<section id="lading-page" class="content-wrapper">
  <form class='login-form' action="/user/login" method='post'>
    <label for='email'>
      Email:<br/>
      <input id='email' type='text' name='email' required>
    </label>

    <label for='password'>
      Password:<br/>
      <input id='password' type='password' name='password' required>
    </label>

    <input type='submit' value='Sign In' required>
  </form>
<section>

<p>New User? <a href="/user/register">Sign Up!</a></p>


<%= flash[:error] %>