<!DOCTYPE html>

<html lang='en'>
  <head>
    <link rel='stylesheet' href='/css/normalize.css'>
    <link rel='stylesheet' href='/css/application.css'>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/js/application.js'></script>

    <title>A Flashcard Application</title>
  </head>
  <body>
    <section class='container'>
      <%= erb :'/partials/_header' %>
      <%= yield %>
      <%= erb :'/partials/_footer' %>
    </section>
  </body>
</html>
